<!doctype html>
<html lang="en">
<head>
    <title>Weather %(name)s / %(id)s</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="%(refreshtime)s; url=%(url)s?daterange=%(startdate)s+-+%(enddate)s" />
    <script src="dygraph.js"></script>
    <link rel="stylesheet" href="dygraph.css" />
    <style>
        .namedate {width:30em; height:1em; margin:4px; float: left; font-size:30px;font-style:bold; text-align: center}
        .divSquare {width:10em; height:1em; margin:4px; border:1px solid black; float: left;
                    font-size:40px;font-style:bold;text-align: center; padding:1em 0;}
        .temp { color:white;background-color:#25259a}
        .hum  { color:white;background-color:#3d9e3d}
        .pres { color:white;background-color:#800080}
        .volt { color:white;background-color:#008080}
        .leftname { width:1em; float:left; font-size:40px;font-style:bold;text-align:center;padding:3em 0}
        .graph { float:left; width:1000px; height:300px;}
        .message { font-size:15px;font-style:italic;font-family:arial}
        input[type=text], input[type=submit] { font-size:20px;font-style:bold; }
    </style>
    <script src="jquery.min.js"></script>
    <script src="moment.min.js"></script>
    <script src="daterangepicker.min.js"></script>
    <link rel="stylesheet" href="daterangepicker.css" />
</head>
<body>
<div>
<form method="GET">
<div class="namedate"><i><span id="espwname" onClick="startRename()">%(name)s</span>
<span id="espwrename" style="display:none;">
<input type=text name="rename" value="%(name)s"/>
<input type=hidden name="daterange" value="%(startdate)s - %(enddate)s">
<input type="submit" value="ok"/>
</span>
</form>
/ %(tztime)s</i></div><div style="clear:both"></div>
<div class="divSquare temp">%(temperature).2f °C</div>
<div class="divSquare hum">%(humidity).2f %%</div>
<div style='clear:both'></div>
<div class="divSquare pres">%(pressure).2f hPa</div>
<div class="divSquare volt">%(voltage).2f V</div>
<div style='clear:both'></div>
</div>
<div>
<div style="text-align:center;width:1000px">
<form id="rangeform" method="GET">
<input type="text" id="dates" name="daterange" value="%(startdate)s - %(enddate)s" />
<input type="submit" value="ok"/>
</form>
<script>
$(function() {
  $('#dates').daterangepicker({
    autoApply: true,
    opens:'center',
    locale: { format: 'YYYY-MM-DD' }
  });
  $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
    $('#rangeform').submit()
  });
});
</script>
</div>
<div class="leftname">°C</div><div id="temperature" class="graph"></div>
<div style="clear:both"></div>
<div class="leftname">%%</div><div id="humidity" class="graph"></div>
<div style="clear:both"></div>
<div class="leftname">hPa</div><div id="pressure" class="graph"></div>
<div style="clear:both"></div>
<div class="leftname">V</div><div id="battery"  class="graph"></div>
<div style="clear:both"></div>
</div>
<script type="text/javascript">
  function startRename() {
    var espwn = document.getElementById("espwname");
    var espwrn= document.getElementById("espwrename");
    espwn.style.display="none"
    espwrn.style.display="inline"
  }
  var csv = '';
  var req = new XMLHttpRequest();
  req.open("GET", "%(id)s/t.csv?daterange=%(startdate)s+-+%(enddate)s", false);
  req.onreadystatechange = function() { csv = req.responseText; }
  req.send();
  labels = ['Time', 'Temperature', 'Humidity', 'Pressure', 'Battery'];
  gt = new Dygraph( document.getElementById("temperature"), csv,
    { labels: labels,
    visibility: [true, false, false, false],
    rollPeriod: 5,
    showRoller: true,
    color: "#25259a"
    });
  g1 = new Dygraph( document.getElementById("humidity"), csv,
    { labels: labels,
    visibility: [false, true, false, false],
    rollPeriod: 5,
    showRoller: true,
    color: "#3d9e3d"
    });
  g2 = new Dygraph( document.getElementById("pressure"), csv,
    { labels: labels,
    visibility: [false, false, true, false],
    rollPeriod: 5,
    showRoller: true,
    color: "#800080"
    });
  g3 = new Dygraph( document.getElementById("battery"), csv,
    { labels: labels,
    visibility: [false, false, false, true],
    rollPeriod: 5,
    showRoller: true,
    color:"#008080"
    });
</script>
<hr/>
<h2><i>IP: %(ip)s</i><h2>
<span class=message>Message: %(message)s</span>
</body>
</html>
